.l {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.content-p{
    width: 15rem;
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    border-radius: 1rem;

}