@media(max-width:1700px) {


    .Information {
        margin-top: 6.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .widthServise {
            width: 100rem;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 8rem;
        }
    }

    .text-Q {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .FlexI {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }


    .buttonServise {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1536px) {

    body {
        overflow-x: hidden;
    }

    .cardDiv {
        height: 30vh !important;
        width: 20% !important;
        display: flex;
        border-radius: 1rem;
        background: url(/_next/static/media/ggs.5b867cf5.jpeg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: cover;
        background-position: center;
    }

    .buttonServise {
        display: flex !important;
        display: none !important;
    }
}

@media (max-width:1396px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: none !important;
    }
}

@media (max-width:1302px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 14rem !important;
    }
}

@media (max-width:1204px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 18rem !important;
    }

    .cardDiv {
        height: 25vh !important;
        width: 15% !important;
        display: flex;
        border-radius: 1rem;
        background: url(/_next/static/media/ggs.5b867cf5.jpeg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width:1126px) {
    .widthServise {
        display: none !important;
    }

    .FlexI {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width:986px) {
    .buttonColor {
        display: none !important;
    }

    .bord1 {
        position: relative;
    }

    .borderText {
        display: none;
    }

}

@media (max-width:742px) {
    .FlexI {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .force {
        margin-top: 2rem;
    }

    .textQ p {
        font-size: 2rem !important;
    }

    .Qukly p {
        font-size: 1.3rem !important;
    }

    .home-text p {
        font-size: 2rem !important;
    }

    .text-Q {
        margin-left: 0rem !important;
    }
}


html,
body {
    width: 100%;
    overflow-x: hidden;
}


@media (max-width:1130px) {
    .Description {
        font-size: 1.2rem !important;
    }

    .imge img {
        width: 20rem !important;
        height: 20rem !important;
        border-radius: 1rem;
    }
}

@media (max-width:900px) {
    .Employees-board {
        margin-left: 0rem !important;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:774px) {

    .content-text {
        font-size: 1.2rem !important;
    }
}

@media (max-width:714px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 4rem;
        flex-direction: column;
    }

    .contentP {
        margin-left: 0rem !important;
    }

    .contentP p {
        margin-top: 1rem;
    }

    .text {
        display: flex;
        align-items: center;
        height: 5rem;
        float: none !important;
        margin-right: 3rem;
        justify-content: center;
    }

    .fixed {
        position: fixed;
        width: 100%;
        z-index: 10;
        bottom: 0;
    }

    .force {
        background: url(/_next/static/media/Designer10.3f88c336.jpeg);
        height: 92%;
        border-radius: 1rem;
        padding: 1rem;
        width: 18rem;
        margin-left: 0rem !important;
        margin-bottom: 10rem;
    }


}

@media (max-width:1142px) {
    .content-about p {
        font-size: 1.4rem !important;
    }

    .content-p-min p {
        font-size: 1rem !important;
    }
}

@media (max-width:970px) {
    .content-p-min p {
        font-size: 0.8rem !important;
    }
}

@media (max-width:794px) {
    .content-p-min {
        width: 45rem;
        margin-left: 10rem !important;
    }

    .Imgcontent-about img {
        width: 40rem !important;
        height: 25rem !important;
        border-radius: 0.5rem;
        margin: 3rem;
    }

    .spon-content p {
        font-size: 2rem !important;
        color: aliceblue;
        margin: 2rem;
    }

    .content-about {
        display: flex;
        justify-content: center;
        height: 20vh;
        align-items: center;
        flex-direction: column;
    }

    .content-p-min p {
        margin-left: -10rem;
    }

    .content-p-min {
        width: 25rem !important;
    }

    .Imgcontent-about img {
        width: 20rem !important;
        height: 13rem !important;
    }
}

@media (max-width:582px) {
    .content-p-min {
        width: 15rem !important;
    }

    .spon-content p {
        font-size: 1.5rem !important;
        color: aliceblue;
        margin: 0rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:368px) {
    .content-p-min {
        width: 10rem !important;
    }

    .content-about {
        display: flex;
        justify-content: center;
        height: 35vh !important;
        align-items: center;
    }

    .about-flex {
        background-color: #f6f4ef;
        height: 20rem;
    }
}

@media (max-width:1780px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 10rem !important;
    }
}

@media (max-width:1654px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 15rem !important;
    }
}


@media (max-width:1582px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 20rem !important;
    }
}

@media (max-width:1490px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 25rem !important;
    }
}

@media (max-width:1420px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 30rem !important;
    }
}

@media (max-width:1330px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 35rem !important;
    }

    .cardBack {
        width: 19% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 20% !important;
        height: 24rem;
        cursor: pointer;
    }
}

@media (max-width:1252px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 40rem !important;
    }

    .cardBack {
        width: 19% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 20% !important;
        height: 24rem;
        cursor: pointer;
    }
}

@media (max-width:1174px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 45rem !important;
    }

    .cardBack {
        width: 19% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 20% !important;
        height: 24rem;
        cursor: pointer;
    }

    .description {
        background: #a5a5a59c;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        margin: 2rem;
        width: 11rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .informClass p {
        font-size: 0.8rem !important;
    }
}

@media (max-width:1094px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 50rem !important;
    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }
}

@media (max-width:1016px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 55rem !important;
    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }
}

@media (max-width:938px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 56rem !important;
    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }

    .cardBack {
        width: 60% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 65% !important;
        height: 25rem;
        cursor: pointer;
    }
}

@media (max-width:884px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 4rem;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 65rem !important;
    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }

    .cardBack {
        width: 60% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 65% !important;
        height: 25rem;
        cursor: pointer;
    }
}

@media (max-width:746px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 15rem !important;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 75rem !important;

    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }

    .cardBack {
        width: 60% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 65% !important;
        height: 25rem;
        cursor: pointer;
    }
}

@media (max-width:596px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 15rem !important;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 85rem !important;

    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }

    .cardBack {
        width: 60% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 65% !important;
        height: 25rem;
        cursor: pointer;
    }
}

@media (max-width:442px) {
    .buttonClics {
        border: #00000000;
        width: 3rem;
        height: 3rem;
        margin-bottom: 15rem !important;
        border-radius: 50rem;
        background-color: #70a9ff;
        margin-left: 95rem !important;

    }

    .description {
        font-size: 0.7rem;
        width: 9rem;
    }

    .cardBack {
        width: 85% !important;
        background-color: #d8d8d8;
        border-radius: 1rem;
        margin: 2rem;
        height: 23rem;
        transition: width 0.3s, height 0.3s;
    }

    .cardBack:hover {
        width: 65% !important;
        height: 25rem;
        cursor: pointer;
    }
}