@media(max-width:1700px) {


    .Information {
        margin-top: 6.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .widthServise {
            width: 100rem;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 8rem;
        }
    }

    .text-Q {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .FlexI {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }


    .buttonServise {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1536px) {

    body {
        overflow-x: hidden;
    }

    .cardDiv {
        height: 30vh !important;
        width: 20% !important;
        display: flex;
        border-radius: 1rem;
        background: url(/_next/static/media/ggs.5b867cf5.jpeg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: cover;
        background-position: center;
    }

    .buttonServise {
        display: flex !important;
        display: none !important;
    }
}

@media (max-width:1396px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: none !important;
    }
}

@media (max-width:1302px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 14rem !important;
    }
}

@media (max-width:1204px) {
    .widthServise {
        width: 100rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 18rem !important;
    }

    .cardDiv {
        height: 25vh !important;
        width: 15% !important;
        display: flex;
        border-radius: 1rem;
        background: url(/_next/static/media/ggs.5b867cf5.jpeg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width:1126px) {
    .widthServise {
        display: none !important;
    }

    .FlexI {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width:986px) {
    .buttonColor {
        display: none !important;
    }

    .bord1 {
        position: relative;
    }

    .borderText {
        display: none;
    }

}

@media (max-width:742px) {
    .FlexI {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .force {
        margin-top: 2rem;
    }

    .textQ p {
        font-size: 2rem !important;
    }

    .Qukly p {
        font-size: 1.3rem !important;
    }

    .home-text p {
        font-size: 2rem !important;
    }

    .text-Q {
        margin-left: 0rem !important;
    }
}


html,
body {
    width: 100%;
    overflow-x: hidden;
}


@media (max-width:1130px) {
    .Description {
        font-size: 1.2rem !important;
    }

    .imge img {
        width: 20rem !important;
        height: 20rem !important;
        border-radius: 1rem;
    }
}

@media (max-width:900px) {
    .Employees-board {
        margin-left: 0rem !important;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:774px) {

    .content-text {
        font-size: 1.2rem !important;
    }
}

@media (max-width:714px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 4rem;
        flex-direction: column;
    }

    .contentP {
        margin-left: 0rem !important;
    }

    .contentP p {
        margin-top: 1rem;
    }

    .text {
        display: flex;
        align-items: center;
        height: 5rem;
        float: none !important;
        margin-right: 3rem;
        justify-content: center;
    }

    .fixed {
        position: fixed;
        width: 100%;
        z-index: 10;
        bottom: 0;
    }

    .force {
        background: url(/_next/static/media/Designer10.3f88c336.jpeg);
        height: 92%;
        border-radius: 1rem;
        padding: 1rem;
        width: 18rem;
        margin-left: 0rem !important;
        margin-bottom: 10rem;
    }


}

@media (max-width:1142px) {
    .content-about p {
        font-size: 1.4rem !important;
    }

    .content-p-min p {
        font-size: 1rem !important;
    }
}

@media (max-width:970px) {
    .content-p-min p {
        font-size: 0.8rem !important;
    }
}

@media (max-width:794px) {
    .content-p-min {
        width: 45rem;
        margin-left: 10rem !important;
    }

    .Imgcontent-about img {
        width: 40rem !important;
        height: 25rem !important;
        border-radius: 0.5rem;
        margin: 3rem;
    }

    .spon-content p {
        font-size: 2rem !important;
        color: aliceblue;
        margin: 2rem;
    }

    .content-about {
        display: flex;
        justify-content: center;
        height: 20vh;
        align-items: center;
        flex-direction: column;
    }

    .content-p-min p {
        margin-left: -10rem;
    }

    .content-p-min {
        width: 25rem !important;
    }

    .Imgcontent-about img {
        width: 20rem !important;
        height: 13rem !important;
    }
}

@media (max-width:582px) {
    .content-p-min {
        width: 15rem !important;
    }
    .spon-content p {
        font-size: 1.5rem !important;
        color: aliceblue;
        margin: 0rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}


@media (max-width:368px) {
    .content-p-min {
        width: 10rem !important;
      }
      .content-about {
        display: flex;
        justify-content: center;
        height: 35vh !important;
        align-items: center;
      }
      .about-flex {
        background-color: #f6f4ef;
        height: 20rem;
      }
}