.CardFilter {
    display: flex;
    margin: 1rem;
}

.filter {
    margin-right: 2rem;
}

.labelP {
    display: flex;
    align-items: center;
}

.cardC {
    display: flex;
    justify-content: center;
    flex: 1;
}

.cardP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.inform {
    display: flex;
    height: 30vh;
    align-items: center;
    margin-left: 1rem;
}

.informClass {
    background: #d8d8d8;
    border-radius: 1rem 0.1rem;
}

.inform p {
    color: #000000;
    margin: 0.5rem 1rem;
}

.cardBack {
    width: 20%;
    background-color: #d8d8d8;
    border-radius: 1rem;
    margin: 2rem;
    height: 23rem;
    transition: width 0.3s, height 0.3s;
}

.cardBack:hover {
    width: 21%;
    height: 25rem;
    cursor: pointer;
}

.cardui {
    height: 30vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: 1rem;
    background-size: cover;
    background-position: center;
}

.description {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.description p {
    margin-left: 1rem;
}